*{
    margin: 0;
    padding: 0;
}

img{
    display: block;
}
.btn{
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: rgba(0, 110, 255, 0.548);
    border: none;
    padding: 12px 22px;
    border-radius: 9px;
    font-size: 18px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

nav .cta :hover{
    color: rgb(10, 10, 10);
}

header{ 
    background-color: #ffffff; 
}

nav{
    width: 1700px;
    margin: 16px auto;
    display: flex;
    align-items: center;
    gap: 70px;
    padding: 18px 36px;
    justify-content: space-between;
}

ul, ol { 
    list-style: none; 
}

nav .menu{
    display: flex;
    gap: 56px;
    align-items: center;
    justify-content: center;
    flex: 1;
}

nav .menu a{ 
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none; 
    text-align: left;
    color: #000000;
    font-size: 20px; 
    font-weight: bolder; 
    line-height: center;
}
nav .menu a:hover{ 
    color: #00fa2a; 
}

nav a:visited{ 
    color: inherit; 
}

.hero{
    position: relative;
    width: 100%;
    height: 620px;
    background-image: url('./assets/hero-bg.png');
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-inner{
    position: relative;
    max-width: 1100px;
    padding: 40px;
    color: aliceblue;
    text-align: center;
}

.badge{
    display: inline-block;
    background-color: rgb(255, 255, 255);
    color: #00b7ff;
    padding: 8px 18px;
    border-radius: 999px;
    font-weight: 900;
    font-size: 17px;
    margin-bottom: 18px;
}

.hero-title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 75px;
    line-height: 1.02;
    margin: 10px 0 18px 0;
    font-weight: 900;
    color: #f6f6f6;
}

.hero-title span{
    color: #00b7ff;
}

.hero-sub{
    max-width: 800px;
    margin: 0 auto 28px auto;
    color: #ffffff;
    font-size: 19px;
}

.hero-ctas{
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-top: 10px;
}

.btn.primary{
    background-color: #00b7ff;
    color: #ffffff;
}

.btn.primary:hover{
    background-color: #00ff2a;
}

.btn.ghost{
    background: transparent;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 9px;
}